.authentication-page button, .game-puzzle button {
  height: 50px;
  padding: 0 20px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s linear;
  letter-spacing: 0.05em;
  color: $color-primary;
  opacity: 1;
}

.sign-up {
  background-color: $color-additional;
  margin-left: 20px;
  background: $color-secondary;
}

.log-in{
  margin: 7% 0;
  background: $color-additional;
  width: 310px;
  @media (max-width: $mobile-big-width){
    margin-left: 25px;
    width: 240px;
  }
}
/*       Forgot Password button FAF3DD  */
.frgt-pass {background: transparent;}

/* buttons hover Animation */
button:hover {
  animation: ani9 0.4s ease-in-out infinite alternate;
}
@keyframes ani9 {
  0% {
      transform: translateY(3px);
  }
  100% {
      transform: translateY(5px);
  }
}

.btn_autopronoucing::before{
  content: "\f001";
}
.btn_translation::before{
  content: "\f1ab";
}
.btn_pronoucing::before{
  content: "\f028";
}

.modal-round .btn_pronoucing{
  background: transparent;
  color: $color-secondary;
}

.btn_background::before{
  content: "\f03e";
}

.btn_exit::before{
  content: "\f015";
}

.btn_statistic img{
  width: 35px;
  height: 35px;

}

.block-hints button{
    background-color: transparent;
}


.btn_exit, .btn_pronoucing{
  font-family: FontAwesome;
}

.disable{
  background-color: $button-disable !important;
}

.btns button{
  width: 50px;
  margin-right: 10px;
  background-color: $color-additional;
  font-size: 2rem;
  font-family: FontAwesome;
  color: white;
  text-align: center;
  padding: 0px;
}

button.btn_unknown::before{
 content: "Не знаю";
}

.btn_check::before{
  content: "Проверить";
}

.btn_result::before{
  content: "Результаты";
}

.btn_continue::before{
  content: "Продолжить";
}

.btn_next::before{
  content: "Следующий раунд"
}


.block-btns button{
  color: white;
  width: 300px;
  height: 80px;
  margin: 30px;
  background-color: $color-additional;
  font-size: 2rem;
  @media (max-width: $tablet-width){
    font-size: 1.5rem;
    margin: 10px;
    width: 200px;
  }
}

.btn_close{
  position: absolute;
  background-color: transparent!important;
  left: 10vw!important;
  top: 20px;
  @include media-tablet{
    padding: 0px!important;
    margin: -15px 0 5px!important;
  }

  svg{
    width: 30px;
    height: 30px;
  }
}

.btn_close:hover{
  color: $color-additional;
}

