// normalize
@import "./base/normalize";

// abstract
@import "./abstract/constants";
@import "./abstract/mixins";
@import "./abstract/placeholders";

// base
@import "./base/base";
@import "./base/buttons";

// components
@import "./components/navigation";
@import "./components/progres-bar";
@import "./components/configuration";
@import "./components/statistics";
@import "./components/modals";

// layouts
@import "./layouts/wrapper";
@import "./layouts/main-page";
@import "./layouts/authorization";
@import "./layouts/games";
@import "./layouts/game-speak-it";

@import "./layouts/game-audiochallenge";

