$color-background: #f8f2ee;
$color-background-additinal: #e0ebef;
$color-primary: #ffffff;
$color-secondary: #0f2c5c;
$color-additional: #338c99;
$color-darken: #f5f5f5;
$color-active: #ff934d;

$color-yellow: #fce373;
$color-red: #fe5c55;
$color-green: #61bd4f;
$color-violet: #c377e0;
$color-black: #333333;

$content-width: 1400px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;

$start-main-color: rgb(146, 9, 146);
$button-hint-color: rgb(45, 154, 226);
$button-disable: rgb(185, 170, 170);

$max-width-puzzle-field: 800px;
$middle-width-puzzle-field: 700px;
$tablet-width-puzzle-field: 360px;
$small-width-puzzle-field: 280px;
