$color-background: #f8f2ee;
$color-background-additinal: #e0ebef;
$color-primary: #ffffff;
$color-secondary: #0f2c5c;
$color-additional: #338c99;
$color-darken: #f5f5f5;
$color-active: #ff934d;

$color-yellow: #fce373;
$color-red: #fe5c55;
$color-green: #61bd4f;
$color-violet: #c377e0;
$color-light-blue: #56c6d6;
$color-light-green: $color-background-additinal;
$color-black: #333333;
$color-blue: #0a3b5c;
$color-opacity-darken: #f5f5f570;
$color-line: gray;


$content-width: 1400px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
