.speak-it_main {
  width: 100vw;
  height: calc( 100vh - 77px);
  padding: 10px;
  position: relative;
}

.start-screen {
  position: absolute;
  top: 0;
  left: 0;
  height: calc( 100vh - 77px);
  width: 100vw;
  background-size: cover;
  background-image: url(../img/bg-img-game-speakit.png);
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.intro__title {
  margin:  77px auto 40px;
  color: $color-green;
  opacity: .9;
  text-transform: uppercase;
}

.intro__info {
    margin: 0 auto 60px;
    font-size: 1.3rem;
    line-height: 1.9rem;
    color: $color-primary;
    opacity: .9;
}

.btn {
  padding: 11px 30px;
  margin: 0 20px;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s linear;
  color: $color-primary;
  background: $color-green;
  opacity: .8;
  font-size: 1.5rem;
}

.btn-start-game {
  margin: 0 auto;
  min-width: 220px;
  font-size: 1.8rem;
}

.btn:hover {
  opacity: 1;
}

.hidden {
  display: none;
}

.game-container{
  max-width: 1200px;
  margin: 0 auto;
}

.game-control {
  display: flex;
  justify-content: flex-end;
  margin: 60px 30px 40px;
}

.game-control-dropdown {
  margin: 0 10px;
}

.game-control__btn {
  width: 150px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: $color-primary;
	color: $color-additional;
	transition: all 0.4s;
}

.game-control__btn:hover {
  background-color: $color-additional;
  color: $color-primary;
  cursor: pointer;
  transition: all 0.4s;
}

.game-control_list-container {
  background: $color-primary;
  opacity: 0.8;
  border-radius: 10px;
  color: $color-secondary;
  padding: 15px 25px;
  min-width: fit-content;
  max-height: 150px;
  overflow-y: auto;
}

.list_item {
  font-size: 1rem;
}

.list_item:not(.list-item_active):hover {
  cursor: pointer;
  text-decoration: underline;
}

.list-item_active {
  color: $color-active;
}

.status-bar_container {
  display: flex;
  justify-content: space-between;
  margin: 5px 0px;
  align-items: center;
  height: 40px;
}

.star {
  width: 32px;
  margin: 2px;
}

.display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 420px;
  height: 260px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 5px 5px 25px #767676;
  margin-bottom: 10px;
}

.input {
  border: 0;
  padding: 5px 20px;
  margin: 0 auto;
  width: 380px;
  height: 40px;
  font-size: 1.5rem;
  color: $color-secondary;
  background-color: transparent;
  text-align: center;
  font-weight: 500;
  outline: none;
}

.input_active {
  border-bottom: 1px solid rgba(150, 214, 224, 1);
  position: relative;
  background-image: url(../img/icons/microphone.svg);
  background-size: 9%;
  background-repeat: no-repeat;
}

.cards_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;
}

.card {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  min-width: 200px;
  min-height: 70px;
  margin: 10px;
  border: 1px solid rgba(150, 214, 224, 0.6);
  border-radius: 10px;
  background-color: $color-primary;
  transition: all .5s;
}

.card_active {
  background-color: rgba(150, 214, 224, 0.3);
  border: 1px solid rgb(126, 198, 209);

  .speaker-icon {
    filter: opacity(100%);
  }
}

.container-speaker-icon {
  width: 40px;
  height: 40px;
}

.speaker-icon {
  filter: opacity(50%);
  transition: all 0.5s;
}

.card:not(.card_active):hover {
  box-shadow: 0 5px 15px rgba(0,0,0,.08);
  border: 1px solid rgb(126, 198, 209);

  .speaker-icon {
    filter: opacity(90%);
  }
}

.word-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.word {
  color: $color-additional;
  font-size: 1.5rem;
  padding: 2px 5px;
  margin: 0;
  font-weight: 500;
}

.transcription {
  color: $color-secondary;
  font-size: 1.3rem;
  padding: 2px 5px;
  margin: 0;
}

.speaker-icon path {
  stroke: red;
}

.btns {
  display: flex;
  justify-content: center;
  margin: 0 10px;
}

.btn_restart  {
  background-color: $color-red;
}

.btn_speak {
  flex-grow: 1;
}

.btn_result {
  background-color: $color-violet;
}
