.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-image: url(../img/bg-img-game-speakit.png);
  text-align: center;
}

.intro__title {
  margin:  77px auto 40px;
  color: $color-green;
  opacity: .9;
  text-transform: uppercase;
}

.intro__info {
    margin: 0 auto 60px;
    font-size: 1.3rem;
    line-height: 1.9rem;
    color: $color-primary;
    opacity: .9;
}

.btn {
  padding: 11px 25px;
  margin: 0 20px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s linear;
  color: $color-primary;
  background: $color-green;
  opacity: .8;
  font-size: 1.5rem;
}

.btn-start-game {
  margin: 0 auto;
  min-width: 220px;
  font-size: 1.8rem;
}

.btn:hover {
  opacity: 1;
}

.hidden {
  display: none;
}

.game-container{
  max-width: 1200px;
  margin: 0 auto;
}

.difficulty-levels {
  list-style: none;
  display: flex;
}

.level {
  border: 5px solid $color-green;
  border-radius: 50%;
  margin: 10px;
  width: 10px;
  height: 10px;
}
