
.vocabulary {
  height: 100vh;
}

.vocabulary__header {
	font-size: 2rem;
	font-weight: bold;
	line-height: 2rem;
  color: $color-secondary;
  padding-left: 10px;
}

.vocabulary__form {
  margin-top: 20px;
  padding: 15px 20px;
  padding-right: 10px;
  border-radius: 10px;
  color: $color-secondary;
}

.vocabulary__switcher {
  margin-bottom: 5px;
}

.vocabulary__tab-link a {
	color: $color-secondary;
	font-weight: 600;
  font-size: 1rem;
}

.vocabulary__tab-link.uk-active a {
	border-color: $color-active;
	color: $color-active;
}

.vocabulary_cards-wrapper {
  overflow-y: auto;
  height: 525px;
}

.vocabulary__card {
  padding: 10px 5px;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.btn-restore {
  background-color: transparent;
  border-radius: 10px;
  color: $color-secondary;
  border: none;
  height: 31px;
  margin-left: 15px;
  outline: none;
  transition: all 0.4s;

  &:hover {
    color: $color-additional;
    cursor: pointer;
  }
}

.vocabulary__card-img  {
  width: 120px;
  margin-left: 30px;
  border-radius: 10px;
}

.vocabulary__word-container {
  width: 544px;
}

.word-text_color {
  color: $color-additional;
  padding-left: 7px;
}

.vocabulary__word_text {
  font-size: 1rem;
  font-weight: 700;
}

.vocabulary__word_transcription {
  margin: 5px 10px;
  font-weight: 500;
}

.vocabulary__card-icon {
  width: 20px;
  filter: opacity(40%);
  cursor: pointer;
  transition: all 0.4s;

  &:hover {
    filter: opacity(90%);
  }
}

.vocabulary_transcription {
  font-size: .9rem;
  padding-left: 27px;
  margin: 0;
}

.vocabulary__word_translate {
  font-weight: 600;
  font-size: 1rem;
}

.vocabulary__block-container {
  margin: 5px 0 10px;
}

.vocabulary__card-info {
  display: flex;
  flex-direction: row;
  color: #5b7195;
  font-size: .875rem;
  padding: .25rem 0;
}

.data-point {
  padding: 0 .5rem;
  border-right: 1px solid #1a3b71;
}

.data-point:last-child {
  border-right: none;
}

.vocabulary__error-message {
  text-align: center;
    margin-top: 130px;
    color: $color-additional;
    font-weight: 600;
    font-size: 1.2rem;
}
