
.vocabulary {
  height: 100vh;
}

.vocabulary__header {
	font-size: 2rem;
	font-weight: bold;
	line-height: 2rem;
  color: $color-secondary;
  padding-left: 10px;

  @media (max-width: $mobile-big-width){
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

.vocabulary__form {
  margin-top: 20px;
  padding: 15px 20px;
  padding-right: 10px;
  border-radius: 10px;
  color: $color-secondary;
}

.vocabulary__switcher {
  margin-bottom: 5px;
}

.vocabulary__tab-link {
  @media (max-width: $tablet-width){
    padding-left: 11px;
  }
  @media (max-width: $mobile-big-width){
    padding-left: 6px;
  }
}

.vocabulary__tab-link a {
	color: $color-secondary;
	font-weight: 600;
  font-size: 1rem;

  @media (max-width: $tablet-width){
    font-size: .85rem;
    padding: 6px;
  }
  @media (max-width: $mobile-big-width){
    font-size: .75rem;
    padding: 5px;
  }
}

.vocabulary__tab-link.uk-active a {
	border-color: $color-active;
	color: $color-active;
}

.vocabulary_cards-wrapper {
  overflow-y: auto;
  height: 525px;
}

.vocabulary__card {
  padding: 10px 5px;
  margin-right: 5px;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $tablet-width){
    flex-direction: column;
    align-items: flex-start
  }
}

.btn-restore {
  background-color: transparent;
  border-radius: 10px;
  color: $color-secondary;
  border: none;
  height: 31px;
  margin-left: 5px;
  outline: none;
  transition: all 0.4s;

  &:hover {
    color: $color-primary;
    background-color: $color-secondary;
    cursor: pointer;
  }

  @media (max-width: $tablet-width){
    margin: 5px 0;
    margin-left: calc((100% - 20px)/2);
    order: 1;
  }
}

.vocabulary__card-img  {
  width: 120px;
  margin-left: 10px;
  border-radius: 10px;

  @media (max-width: $tablet-width){
    margin: 5px 0;
    margin-left: calc((100% - 120px)/2);
  }
}

.vocabulary__word-container {
  width: 74%;

  @media (max-width: $tablet-width){
    width: 100%;
  }
}

.word-text_color {
  color: $color-additional;
  padding-left: 7px;
}

.vocabulary__word_text {
  font-size: 1rem;
  font-weight: 700;
}

.vocabulary__word_transcription {
  margin: 5px 10px;
  font-weight: 500;
}

.vocabulary__card-icon {
  width: 20px;
  filter: opacity(40%);
  cursor: pointer;
  transition: all 0.4s;

  &:hover {
    filter: opacity(90%);
  }
}

.vocabulary_translate {
  font-size: .9rem;
  padding-left: 27px;
  margin: 0;

  @media (max-width: $tablet-width){
    padding-left: 0px;
    margin: 2px 0;
  }
}

.vocabulary__word_translate {
  font-weight: 600;
  font-size: 1rem;

  @media (max-width: $tablet-width){
    padding-left: 27px;
  }
}

.vocabulary__block-container {
  margin: 5px 0 10px;
}

.vocabulary__card-info {
  display: flex;
  flex-direction: row;
  color: #5b7195;
  font-size: .875rem;
  padding: .25rem 0;
  width: 100%;
  @media (max-width: $tablet-width){
    flex-direction: column;
    align-items: center;
  }
}

.data-point {
  padding: 0 .5rem;
  border-right: 1px solid #1a3b71;

  @media (max-width: $tablet-width){
    border-right: none;
    padding: .1rem .5rem;
  }
}

.data-point:last-child {
  border-right: none;
}

.vocabulary__error-message {
  text-align: center;
  margin-top: 130px;
  color: $color-additional;
  font-weight: 600;
  font-size: 1.2rem;

  @media (max-width: $tablet-width){
    margin-top: 95px;
  }

  @media (max-width: $mobile-big-width){
    margin-top: 70px;
    font-size: 1rem;
  }
}

.vocabulary__progress-bar {
  display: flex;
  margin-left: 22px;
  width: 94px;
}

.vocabulary__progress-bar_item {
  border-radius: 50%;
  margin: 4px;
  width: 10px;
  height: 10px;
  background-color: $color-background;

  @media (max-width: $mobile-big-width){
    width: 8px;
    height: 8px;
  }
}

.progress-bar_item-1 {
  background-color: $color-secondary;
  opacity: .8;
}

.progress-bar_item-1 {
  background-color: $color-additional;
  opacity: .8;
}

.progress-bar_item-2 {
  background-color: $color-green;
  opacity: .8;
}

.progress-bar_item-3 {
  background-color: $color-red;
  opacity: .8;
}

.progress-bar_item-4 {
  background-color: $color-violet;
  opacity: .8;
}

.progress-bar_item-5 {
  background-color: $color-active;
  opacity: .8;
}

.uk-tooltip {
  background-color: $color-background-additinal;
  color: $color-secondary;
}
