
.speak-it_main {
  width: 100vw;
  height: 100vh;
  padding: 5px;
  position: relative;
  background-size: cover;
  background-image: url(../img/bg-img-game-speakit.jpg);
}

.start-screen,
.game-results {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.speakit_exit {
  width: 25px;
  position: absolute;
  left: 4%;
  top: 4%;
  cursor: pointer;
  filter: invert(84%) sepia(10%) saturate(1800%) hue-rotate(59deg) brightness(91%) contrast(91%);
  &:hover {
    filter: invert(52%) sepia(100%) saturate(304%) hue-rotate(156deg) brightness(84%) contrast(98%);
  }
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: -70px;
  padding: 0px 40px 40px;
  background-color: #2581b2d1;
  border-radius: 10px;
}

.intro__title {
  margin: 40px auto;
  opacity: .95;
  text-transform: uppercase;
  color: #86d677;
  font-size: 3rem;
  // text-shadow: 1px 0px 1px #ffffff60;
}

.intro__info {
    margin: 0 auto 30px;
    font-size: 1.5rem;
    line-height: 1.9rem;
    color: $color-primary;
    opacity: .9;
}

.btn {
  padding: 11px 30px;
  margin: 8px;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s linear;
  color: $color-primary;
  background: $color-green;
  font-size: 1.5rem;
}

.btn-start-game {
  margin: 0 auto;
  min-width: 220px;
  font-size: 1.8rem;
  color: $color-primary;
  background: #6aca58;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

.game-container{
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  padding: 10px;
}

.game-control {
  display: flex;
  justify-content: center;
  min-width: 320px;
}

.game-control-dropdown {
  margin: 0 4px;
}

.speakit_game-control__btn {
  width: fit-content;
  padding: 0px 20px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: $color-primary;
  color: $color-light-blue;
  border: 1px solid;
  opacity: .9;
  transition: all 0.4s;
  font-size: .98rem;
}

.speakit_game-control__btn-mode {
  color: $color-green;
  margin-right: 4px;
}

.speakit_game-control__btn:disabled {
  background-color: $color-primary;
  color: $color-light-blue;
  opacity: .6;
  transition: all 0.6s;
}

.speakit_game-control__btn:hover {
  color: $color-primary;
  background: $color-light-blue;
  border: 1px solid $color-primary;
  opacity: .7;
  cursor: pointer;
  transition: all 0.4s;
}

.speakit_game-control__btn-mode:hover {
  color: $color-primary;
  background: $color-green;
  border: 1px solid $color-primary;
  opacity: .7;
  cursor: pointer;
  transition: all 0.4s;
}

.game-control_list-container {
  background: $color-primary;
  opacity: 0.8;
  border-radius: 10px;
  color: $color-secondary;
  padding: 15px;
  min-width: fit-content;
  max-height: 150px;
  overflow-y: auto;
  text-align: center;
  box-shadow: 0 5px 12px rgb(165, 216, 243);
  &::-webkit-scrollbar {
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    background: $color-primary;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: $color-light-blue;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #ff9a56cb;
  }
}

.game-control_list-container_mode {
  padding: 10px 16px;
}

.mode-info {
  margin: 0;
  font-size: 1.1rem;
}

.speakit_list-item {
  font-size: 1rem;
}

.speakit_list-item:not(.speakit_list-item_active):hover {
  cursor: pointer;
  text-decoration: underline;
}

.speakit_list-item_active {
  color: $color-active;
}

.status-bar_container {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px 43px;
  align-items: center;
  height: 40px;
}

.btn_restart {
  padding: 5px 18px;
  color: $color-red;
  background: $color-primary;
  border: 1px solid $color-red;
}

.btn_restart:hover {
  color: $color-primary;
  background: $color-red;
  border: 1px solid $color-primary;
  opacity: .7;
}

.btn_statistic {
  padding: 5px 18px;
  color: $color-violet;;
  background: $color-primary;
  border: 1px solid $color-violet;;
}

.btn_statistic:hover {
  color: $color-primary;;
  background: $color-violet;
  border: 1px solid $color-primary;
  opacity: .7;
}

.btn_exit {
  padding: 5px 18px;
  color: $color-green;
  background: $color-primary;
  border: 1px solid $color-green;
}

.btn_exit:hover {
  color: $color-primary;
  background: $color-green;
  border: 1px solid $color-primary;
  opacity: .7;
  animation: ani9 0.4s ease-in-out infinite alternate;
}

.btn_microphone {
  padding: 5px 18px;
  color: $color-light-blue;
  background: $color-primary;
  border: 1px solid $color-light-blue;
}

.btn_microphone .active {
  background-color: transparent;
  color: #999;
  border: 1px solid #999;
}

.btn_microphone:not(.active):hover {
  color: $color-primary;
  background: $color-light-blue;
  border: 1px solid $color-primary;
  opacity: .7;
}

.stars_container {
  margin-top: 60px;
}

.star {
  width: 32px;
  margin: 2px;
}

.display {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.image {
  width: 420px;
  height: 260px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #a5d8f3;;
  box-shadow: 4px 4px 35px #f8f8f8;
  margin-bottom: 10px;
}

.display_translate {
  font-size: 1.5rem;
  color: $color-secondary;
  text-align: center;
  font-weight: 500;
  padding: 2px 5px;
  margin: 0;
  height: 32px;
}

.microphone {
  display: none;
  align-items: center;
  justify-content: center;
}

.microphone-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #70c3ef;
  margin: 48px auto;
  width: 380px;
}

.input {
  flex-grow: 1;
  border: 0;
  height: 40px;
  font-size: 1.5rem;
  color: $color-primary;
  background-color: transparent;
  text-align: center;
  font-weight: 500;
  outline: none;
  padding: 5px 10px;

  &::-webkit-input-placeholder { color: #a8daf5; }
}

.input_microphone-img {
  width: 35px;
  height: 35px;
  filter: invert(99%) sepia(6%) saturate(340%) hue-rotate(262deg) brightness(119%) contrast(100%);
}

.wrapper_game-board {
  margin: 5px 10px 10px;
  min-height: 208px;
  position: relative;
}

.cards_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  min-width: 200px;
  min-height: 70px;
  margin: 10px;
  border: 2px solid rgba(150, 214, 224, 0.6);
  border-radius: 10px;
  background-color: $color-primary;
  transition: all .5s;
}

.card_active {
  border: 2px solid #3e9eac;
  & .speaker-icon {
    filter: invert(42%) sepia(89%) saturate(300%) hue-rotate(140deg) brightness(96%) contrast(92%);
  }
}

.container-speaker-icon {
  width: 33px;
  height: 33px;
}

.speaker-icon {
  filter: invert(83%) sepia(11%) saturate(151%) hue-rotate(136deg) brightness(101%) contrast(82%);
  transition: all 0.5s;

}

.card:not(.card_active):not(.result_card):hover {
  border: 2px solid #3e9eac;
  & .speaker-icon {
    filter: invert(95%) sepia(41%) saturate(890%) hue-rotate(162deg) brightness(82%) contrast(84%);
  }
}

.word-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.display_word-container {
  margin: 5px 50px 0px;
  background-color: #daf1ff52;
  min-height: 37px;
  border-bottom: 1px solid #daf1ff;
  border-radius: 10px;
}

.word {
  color: $color-additional;
  font-size: 1.5rem;
  padding: 2px 5px;
  margin: 0;
  font-weight: 500;
}

.transcription,
.translate {
  color: $color-secondary;
  font-size: 1.3rem;
  padding: 2px 5px;
  margin: 0;
}

.display_word,
.display_transcription {
  font-size: 0;
  display: none;
}

.display_translate {
  font-size: 1.6rem;
}

.translate {
  font-size: 0rem;
}

.btns {
  display: flex;
  justify-content: center;
  margin: 0 10px;
}

.btn_speak {
  margin-top: 10px;
  font-size: 1.4rem;
}

.game-results_wrapper {
  margin: 20px auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  background-color: $color-background-additinal;
  border-radius: 10px;
  width: 600px;
  padding: 20px;
  color: $color-secondary;
}

.game-results-answers_wrapper {
  margin: 10px 20px;
    max-height: 500px;
    overflow: auto;
}

.game-results_title {
  display: flex;
  margin: 15px 0 10px;
}

.game-results_text {
  font-size: 1.2rem;
  margin: 0;
}

.results_answers_count {
  color: $color-primary;
  padding: 3px 14px;
  border-radius: 1.5rem;
  margin-left: 12px;
  height: 23px;
}

.correct-answers_count {
  background-color: $color-green;
}

.incorrect-answers_count {
  background-color: $color-red;
}

.result_control-btn{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.btn-results {
  font-size: 1rem;
}

.result_card {
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  min-height: 50px;
  & .container-speaker-icon {
    width: 32px;
    height: 32px;
  }
  & .word-container {
    flex-direction: row;
  }
  & .word {
    color: $color-secondary;
    font-size: 1.4rem;
  }
  & .translate {
    font-size: 1.3rem;
  }
}

.info-wrapper {
  padding: 15px;
  padding-bottom: 5px;
}

.game-mode_info-wrapper {
  min-width: 483px;
  min-height: 401px;
  background-color: #f3f7f8d1;;
  border: 2px solid #8fceef;
  border-radius: 10px;
  transition: all .5s;
  display: flex;
  flex-direction: column;
  align-items: center;

  & .image {
    box-shadow: none;
  }

  & .display_word {
    font-size: 1.6rem;
    display: block;
  }

  & .display_transcription,
  .display_translate {
    font-size: 1.3rem;
    display: block;
  }
}

.game-mode_btn {
  width: 20%;
  color: $color-primary;
  background: $color-green;
  border: 1px solid $color-primary;
  margin-top: 30px;
  font-size: 1.5rem;
  opacity: .7;
}

.game-mode_btn:hover {
  opacity: 1;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .8s, opacity .8s linear;
}

.invisible {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s .5s, opacity .5s linear;
}

.microphone_active {
  display: flex;
}

.loader-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  left: 0;
  top: 0;
}

.circle-loader {
  width: 100px;
  height: 15px;
  position: absolute;
  top: 50%;
  left: 54%;
  margin: -7px 0 0 -50px;
  text-align: center;
}

.circle {
  height: 10px;
  width: 10px;
  background-color: $color-light-blue;
  border-radius: 50%;
  position: absolute;
  -webkit-animation: 0.8s opaque ease-in-out infinite both;
  animation: 0.8s opaque ease-in-out infinite both;
}

.circle-1 {
  top: -25px;
  left: 0;
}
.circle-2 {
  top: -17px;
  left: 17px;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.circle-3 {
  top: 0;
  left: 25px;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.circle-4 {
  top: 17px;
  left: 17px;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.circle-5 {
  top: 25px;
  left: 0;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.circle-6 {
  top: 17px;
  left: -17px;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.circle-7 {
  top: 0;
  left: -25px;
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.circle-8 {
  top: -17px;
  left: -17px;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

@keyframes opaque {
  0% {
    opacity: 0.1;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.1;
  }
}

.circle-loader-line {
  left: 50%;
}

.circle-loader-line .circle-line {
  width: 15px;
  height: 15px;
  background-color: $color-light-blue;
  display: inline-block;
  margin: 0 5px;
  border-radius: 50%;
  opacity: 0.5;
  transform: scale(0.5);
  animation-name: loaderAnim;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(.26,.63,.94,.66);
  animation-iteration-count: infinite;
  animation-play-state: running;
}

.circle-loader-line  .circle-line-2 {
  animation-delay: 0.25s;
  background-color: $color-green;
}

.circle-loader-line  .circle-line-3 {
  animation-delay: 0.5s;
  background-color: $color-red;
}

.circle-loader-line  .circle-line-4 {
  animation-delay: 0.75s;
  background-color: $color-violet;
}

@keyframes loaderAnim {
  0% {
    opacity: 0.5;
    transform: scale(0.5);
  }
  25% {
    opacity: 1;
    transform: scale(1);
  }
  75% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0.5;
    transform: scale(0.5);
  }
}

.uk-animation-scale-up,
.uk-animation-scale-down {
  animation-duration: 1s;
}
