.game-puzzle{
  background: linear-gradient(rgba(8, 15, 26, 0.59) 0%, rgba(17, 17, 46, 0.46) 100%)
  center center / cover, url(../img/puzzle_background.jpg)
  center center no-repeat;
  background-repeat: no-repeat;
  position: relative;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  background-size: cover!important;
  overflow-x: hidden;
  padding: 20px 0;
  @include media-tablet{
    overflow-y: scroll;
  }
}


.block-source{
  margin: auto;
  margin-top: 40px;
  background-color: lightblue;
  height: 45px;
  font-size: 1rem;
  @extend %puzzle-field;
}

.block-source p{
  color: $color-secondary;
  vertical-align: middle;
  height: 50px;
  margin-bottom: 20px;
  background-color: lightblue;
  font-size: 20px;
  font-weight: 700;
  padding-top: 15px;
  text-align: center;
  @include media-tablet{
    height: 80px;
  }
}
.current{
 // border: 1px solid green;
 background: lightblue;
  height: 45px;
}

.block-results{
  margin: 10px auto;
  text-align: center;
  background-color: $color-background;
  // padding-left: 0px;
  height: 450px;
  @include media-laptop{
    margin: 40px auto 40px;
  }
  @extend %puzzle-field;
}
.block-results img{
  animation-name: Appearance;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(.1,-.6,.2,0);
  width: inherit;
  height: inherit;
}

.sentence {
  display: flex;
  @extend %puzzle-field;
}

canvas{
  color: white;
  font-size: 3em;
  z-index: 5px;
}

.load-page{
  margin-top: -20px;
  position: absolute;
  height: 100vh;
  width: 100vw;
  text-align: center;
  vertical-align: middle;
  .uk-spinner{
    margin-top: 40vh;
    text-align: center;
    color: $color-additional;
  }
}

.hints{
  display: flex;
  justify-content: space-around;
}

.menu{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0px;
}

.menu p, select {
  font-size: 2em;
  margin: auto 10px;
}

.menu select{
  outline: none;
  border: none;
  padding-left: 25px;
  width: 80px;
  height: 50px;
}

option::selection {
  outline: none;
  border: none;
  background: transparent !important;
}

.start-page{
  text-align: center;
  align-items: center;
  @include media-tablet{
    margin-top:  0px;
  }
}

.block-start{
  border-radius: 10px;
  width: 700px;
  margin: 10vh auto 0px;
  background-color: rgba(248, 242, 238, 0.8);
  @include media-tablet{
    width: 380px;
    margin: 10vh auto 0px;
  }
  @include media-mobile{

    width: 300px;
  }
}

.block-hints{
  p{
    margin: 15px;
    @include media-tablet{
      margin: 20px 0 40px;
      font-size: 20px;
    }
  }
  height: 100px;
  margin-top: -10px;
  @include media-tablet{
    margin-top: 0px;
  }
  font-size: 2em;
  color: $color-primary;
  text-align: center;
}


.start-page h2{
  padding-top: 40px;
  font-size: 5em;
  color: $color-secondary;
  margin-bottom: 0.5em;
  line-height: 1em;
  font-family: 'Montserrat';
  @include media-tablet{
    font-size: 3em;
  }
 }

.start-page p{
  font-size: 2em;
  color: $color-additional;
  margin: 0 20px;
}

.start-page button{
  margin: 40px 0;
  background-color: $color-secondary;
  color: white;
  font-size: 2em;
}

.game-puzzle header{
  display: none;
}


.header__game-puzzle{
  display: flex;
  justify-content: space-between;
  @media (max-width: $tablet-width){
      display: block;
  }
}

.game-puzzle .switchers{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0px;
}

.game-puzzle .switchers p, select {
  font-size: 2em;
  margin: auto 10px;
}


.block-btns{
  justify-content: center;
  display: flex;
  margin: 10px 10px -10px;
  overflow: hidden;
  margin-bottom: 0px;
  @include media-tablet{
  }
  @media(max-width: 560px){
    margin: 40px 0px;
    display: block;
    text-align: center;
  }
}

.game-puzzle .btns{
  display: flex;
  justify-content: center;
  @include media-tablet{
    margin-top: 20px;
    margin-right: 10px;
  }
}

.game-puzzle
{
  li{
    font-size: 1.2rem;
  }
  .uk-button-default:hover {
  background-color: transparent;
  color: $color-active;
}
  .uk-active{
    color: $color-active;
  }
.uk-dropdown.uk-open.uk-dropdown-bottom-left:nth-child(4){
  height: 420px;
  overflow-y: scroll;
}

.uk-button{
    font-size: 1.2em;
    height: 50px;
    border-radius: 5px;
    background-color: $color-additional;
    margin-right: 10px;
    @include media-laptop{
      font-size: 1em;
    }
  }
  .uk-dropdown{
    border-radius: 10px;
    background-color: $color-darken;
  }
}

@keyframes Appearance {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.game-control__btn {
  border-radius: 10px;
  padding: 5px!important;
  width: 300px!important;
  color: $color-primary!important;
  &:hover {
    cursor: pointer;
    transition: all 0.4s;
    color: $color-active!important;
  }
  transition: all 0.4s;
}

.game-control__list {
  background: $color-secondary;
  opacity: 0.8;
  border-radius: 10px;
  color: $color-primary;
  padding: 15px 25px;
  min-width: fit-content;
  max-width: 250px;
  ul li {
    @include font(1.1rem, 1.4rem, 400);
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
  .list__active {
    color: $color-active;
  }
}
.btn_close:hover{
  color: $color-additional;
}

.game-control__list_desc {
  div p {
    @include font(1.1rem, 1.4rem, 400);
    margin: 0;
    width: 200px;
    word-break: break-all;
    overflow: hidden;
    text-align: center;
  }
}

