#games-page {
  height: 100%;
  min-height: 100vh;
  h2 {
    margin: 40px 0;
    color: $color-secondary;
    text-align: left;
  }

  .game {
    padding: 40px 0;
  }

  .game__cards {
    display: flex;
    font-size: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .uk-card .uk-card-header {
    background: $color-background-additinal;
  }

  .uk-card {
    border-radius: 10px;
    color: $color-secondary;
    @media (min-width: $content-width) {
      width: 580px;
    }
    @include media-laptop {
      width: 450px;
    }
    @media (max-width: 1100px){
      width: 500px
    }

    margin: 20px;
  }

  .uk-card-default .uk-card-title {
    font-size: 2rem;
    color: $color-secondary;
  }

  a.uk-button.uk-button-text {
    font-size: 1.2rem;
    color: $color-secondary !important;
  }
  .uk-button-text::before {
    border-bottom: 1px solid $color-active;
  }

  a.uk-button-text:focus,
  a.uk-button-text:hover {
    color: $color-active !important;
  }
  .card__icons {
    display: flex;
    flex-direction: space-around;
    img {
      margin-left: 5px;
      height: 25px;
      width: 25px;
    }
  }

  .uk-card-header {
    border-radius: 10px 10px 0 0;
  }

  @include media-mobile {
    .uk-card-body {
      padding: 15px 15px;
    }
    .uk-card-footer {
      padding: 15px 15px;
    }
    .uk-card-header {
      padding: 15px 15px;
    }

    .uk-card {
      margin: 10px;
      margin-right: 5px;
      margin-left: 5px;
    }
  }

}
