.game-puzzle{
  background: linear-gradient(rgba(8, 15, 26, 0.59) 0%, rgba(17, 17, 46, 0.46) 100%)
  center center / cover, url(../img/puzzle_background.jpg)
  center center no-repeat;
  background-repeat: no-repeat;
  position: relative;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  background-size: cover!important;
  overflow-x: hidden;
  padding: 20px 0;
  // touch-action: none;
}

.block-source p{
  color: $color-secondary;
  vertical-align: middle;
  font-size: 30px;
  font-weight: 700;
  padding-top: 15px;
  text-align: center;
}

.block-source{
  margin: auto;
  margin-top: 40px;
  background-color: lightblue;
  height: 50px;
  @extend %puzzle-field;
}

.current{
 // border: 1px solid green;
  background: lightblue;
  height: 50px;
}

.block-results{
  margin: 30px auto;
  text-align: center;
  background-color: $color-background;
  // padding-left: 0px;
  height: 500px;
  @extend %puzzle-field;
}
.block-results img{
  animation-name: Appearance;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(.1,-.6,.2,0);
  width: inherit;
  height: inherit;
}

.sentence {
  display: flex;
  @extend %puzzle-field;
}

canvas{
  color: white;
  font-size: 3em;
  z-index: 5px;
}


.hints{
  display: flex;
  justify-content: space-around;
}

.menu{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0px;
}

.menu p, select {
  font-size: 2em;
  margin: auto 10px;
}

.menu select{
  outline: none;
  border: none;
  padding-left: 25px;
  width: 80px;
  height: 50px;
}

option::selection {
  outline: none;
  border: none;
  background: transparent !important;
}

.start-page{
  text-align: center;
  align-items: center;
}

.block-start{
  border-radius: 10px;
  width: 700px;
  margin: 50px auto;
  background-color: rgba(248, 242, 238, 0.8);
  @include media-tablet{
    width: 380px;
  }
  @include media-mobile{
    width: 300px;
  }
}

.block-hints{
  p{
    margin: 0 0 40px;
  }
  height: 100px;
  margin-top: 20px;
  font-size: 2em;
  color: $color-primary;
  text-align: center;
}


.start-page h2{
  padding-top: 40px;
  font-size: 5em;
  color: $color-secondary;
  margin-bottom: 0.5em;
  line-height: 1em;
  @include media-mobile{
    font-size: 3em;
  }
 }

.start-page p{
  font-size: 2em;
  color: $color-additional;
  margin: 0 20px;
}

.start-page button{
  margin: 40px 0;
  background-color: $color-secondary;
  color: white;
  font-size: 2em;
}

.game-puzzle header{
  display: none;
}


.header__game-puzzle{
  display: flex;
  justify-content: space-between;
  @media (max-width: $tablet-width){
      display: block;
  }
}

.game-puzzle .switchers{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0px;
}

.game-puzzle .switchers p, select {
  font-size: 2em;
  margin: auto 10px;
}

.game-puzzle .btns{
  display: flex;
  justify-content: center;
  @include media-tablet{
    margin-top: 20px;
    margin-right: 10px;
  }
}

.game-puzzle
{
  li{
    font-size: 1.5rem;
  }
  .uk-button-default:hover {
  background-color: transparent;
  color: $color-active;
}
  .uk-active{
    color: $color-active;
  }
.uk-dropdown.uk-open.uk-dropdown-bottom-left:nth-child(4){
  height: 420px;
  overflow-y: scroll;
}

.uk-button{
    font-size: 1.5em;
    height: 50px;
    border-radius: 5px;
    background-color: $color-additional;
    margin-right: 10px;
    @include media-laptop{
      font-size: 1.1em;
    }
  }
  .uk-dropdown{
    border-radius: 10px;
    background-color: $color-darken;
  }
}

@keyframes Appearance {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
