#game-puzzle {
  background: linear-gradient(rgba(8, 15, 26, 0.59) 0%, rgba(17, 17, 46, 0.46) 100%)
  center center / cover, url(../img/puzzle_background.jpg)
  center center no-repeat;
  background-repeat: no-repeat;
  position: relative;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  background-size: cover!important;
  overflow-x: hidden;
  padding: 20px 0;
  @include media-tablet{
    overflow-y: scroll;
  }
}


.block-source{
  margin: auto;
  margin-top: 40px;
  background-color: lightblue;
  min-height: 45px;
  height: auto;
  font-size: 1rem;
  @extend %puzzle-field;
  overflow: hidden;
}

.block-source p{
  color: $color-secondary;
  vertical-align: middle;
  background-color: lightblue;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  height: auto;
  margin: auto;
  margin: 10px auto;
}
.current{
 background: lightblue;
  height: 45px;
}

.block-results{
  overflow: hidden;
  margin: auto;
  text-align: center;
  margin-top: 40px;
  background-color: $color-background;
  height: 450px;
  @include media-tablet{
    font-size: 14px;
  }
  @include media-mobile{
  }
  @extend %puzzle-field;
}
.block-results img{
  animation-name: Appearance;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(.1,-.6,.2,0);
  width: inherit;
  height: inherit;
}

.sentence {
  display: flex;
  @extend %puzzle-field;
}

canvas{
  color: white;
  font-size: 3em;
  z-index: 5px;
}

#game-puzzle .load-page{
  margin-top: -20px;
  position: absolute;
  height: 100vh;
  width: 100vw;
  text-align: center;
  vertical-align: middle;
  .uk-spinner{
    margin-top: 40vh;
    text-align: center;
    color: $color-additional;
  }
}

.hints{
  display: flex;
  justify-content: space-around;
}

.menu{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0px;
}

.menu p, select {
  font-size: 2em;
  margin: auto 10px;
}

.menu select{
  outline: none;
  border: none;
  padding-left: 25px;
  width: 80px;
  height: 50px;
}

option::selection {
  outline: none;
  border: none;
  background: transparent !important;
}

.englishpuzzle__header{
  width: 100%;
  display: flex;
	align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  @include media-mobile {
    padding: 0 10px;
  }
  z-index: 4;
}

.englishpuzzle__game-control{
  max-width: fit-content;
  display: flex;
	align-items: center;
  justify-content: center;
  flex-direction: row;
  @include media-mobile {
    flex-direction: column;
  }
  .game-control {
    margin: 5px;
  }
  flex-wrap: wrap;
}

.block-start{
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  max-width: 800px;
  margin: 80px auto 0px;
  background-color: rgba(248, 242, 238, 0.8);
  @include media-tablet{
    width: 380px;
    margin: 10vh auto 0px;
  }
  div{
    text-align: center;
  }
  @include media-mobile{

    width: 300px;
  }
}

#game-puzzle main{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.block-hints{
  p{
    height: auto;
    margin: auto;
    font-size: 25px;
    text-align: center;
    @include media-tablet{
      margin: auto;
      margin-bottom: 45px;
    }
    @extend %puzzle-field;
  }
  .btn_pronoucing{
    opacity: 1;
    display: inline;
    color: $color-primary;
  }

  margin-top: -10px;
  font-size: 2em;
  color: $color-primary;
  text-align: center;
}

.btn_hidden{
  color: transparent!important;
}

.start-page{
  h2{
      font-family: 'Montserrat';
      font-size: 3.2rem;
      font-style: normal;
      font-weight: 800;
      line-height: 3.2rem;
      color: $color-secondary;
      padding: 20px 0 0;
  }
 }

.start-page p{
  font-size: 2em;
  text-align: center;
  color: $color-additional;
  margin: 0 20px;
}

.game-puzzle header{
  display: none;
}


.game-puzzle .switchers{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0px;
}

.game-puzzle .switchers p, select {
  font-size: 2em;
  margin: auto 10px;
}


.block-btns{
  justify-content: center;
  display: flex;
  margin: 10px 10px -10px;
  overflow: hidden;
  margin-bottom: 0px;
  @include media-tablet{
  }
  @media(max-width: 560px){
    margin: 40px 0px;
    display: block;
    text-align: center;
  }
}

#game-puzzle .btns{
  display: flex;
  justify-content: center;
  @include media-tablet{
    margin-right: 10px;
  }
}


@keyframes Appearance {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.header__game-puzzle{
  display: flex;
  justify-content: space-between;
  @include media-mobile{
      display: block;
  }
  button{
    height: 50px;
  }

}

.block-start__button{
  text-align: center;
  margin: 40px 0 20px;
  outline: none;
	border: none;
	width: 250px;
	height: 70px;
	border-radius: 10px;
	@include font(1.4rem, 1.4rem, 600);
	@extend %light-shadow;
  position: relative;
	background-color: $color-secondary;
	color: $color-primary;
	&:hover {
		background-color: $color-active;
		color: $color-secondary;
		cursor: pointer;
		transition: all 0.4s;
	}
	transition: all 0.4s;
  @include media-mobile{
    width: 200px;
  }
}

#game-puzzle {
  .modal-round {
    padding: 10px;
    width: 500px;
    height: fit-content;
    max-height: 600px;
    top: 0vh;
    margin-top: 0;
    margin-bottom: 20px;
    @include media-tablet {
      top: 5vh;
    }
    .uk-modal-header {
      padding: 0;
      padding-bottom: 20px;
      margin: 10px;
    }
    .uk-modal-body {
      padding: 0;
      margin: 10px;
      height: fit-content;
      max-height: 250px !important;
      h3 {
        @include font(1.4rem, 1.9rem);
        margin: 5px;
      }
    }
    span {
      padding: 0px 10px;
      margin-left: 10px;
      text-align: center;
      height: 25px;
      width: 35px!important;
      border-radius: 20px;
      color: $color-primary;
    }
    .uk-modal-footer {
      padding: 0;
      border-radius: 10px;
      border: none;
      margin-bottom: 20px;
      button {
        height: 50px;
        width: 150px;
        padding: 10px;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .line {
      margin: 10px 0;
      p {
        margin: 0;
        @include font(1.2rem, 1.4rem);
      }
    }

    .btn_pronoucing {
      background: transparent;
      color: $color-secondary;
      border: none;
      outline: none;
      width: fit-content;
      animation: none;
      &::before {
        content: "\f028";
        font-family: 'FontAwesome';
      }
      &:hover {
        cursor: pointer;
        &::before {
          color: $color-secondary !important;
        }
      }
    }
  }


  #global-statistics-modal {
    .uk-modal-body {
      max-height: fit-content;
      border-radius: 10px;
    }
  }
}
