#lvl-determination{
  min-height: 100vh;
  height: 100%;
}



.lvl-determination__main{
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-card__header{
  h3{
    font-size: 2rem;
    font-weight: bold;
    line-height: 2rem;
    color: $color-secondary;
    font-family: 'Monteserrat';
  }
  text-align: start;
  margin: 0 0 20px;
}
.main-card{
  margin: 40px 0;
  // width: 700px;
  min-height: 400px;
  height: auto;
  border-radius: 10px;
  background-color: $color-primary;
  text-align: center;
  .main-card__body_desc{
    text-align: justify;
    font-size: 1.4rem;
    color: $color-secondary;
    margin-bottom: 40px;
  }
  .uk-align-right{
    margin-bottom: 0px;
  }
}
input[type="radio"]{
  &:hover{
    cursor: pointer;
  }
}

.main-card__body_btn-start, .main-card__body_btn-next{
  border: none;
  outline: none;
  background-color: $color-secondary;
  color: $color-primary;
  padding: 0 30px;
  border-radius: 10px;
  line-height: 38px;
  width: 180px;
  height: 50px;
  &:hover{
    cursor: pointer;
  }
}

.answers-field {
  display: flex;
  flex-direction: column;
}

.answers-field__row{
  // background-color: $color-background-additinal;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  color: $color-secondary;
  text-align: center;
  p{
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  label{
    font-size: 1.3rem;
    margin-left: 10px;
  }
  text-align: start;
  display: flex;
  flex-direction: column;
}

#lvl-determination .modal-round {
  width: 500px;
 // position: absolute;
  padding: 10px;
  margin-top: 0vh;
  /*overflow: hidden;*/
  @include media-tablet {
    top: 0vh;
    width: 400px;
  }
  @include media-mobile {
    top: 0vh;
    width: 300px;
  }
  margin-bottom: 10px;

  .uk-modal-header {
    padding: 0;
    padding-bottom: 20px;
    margin: 10px;
  }
  .uk-modal-body {
    padding: 0;
    margin: 10px;
    height: fit-content;
    max-height: 300px !important;
    h3 {
      @include font(1.4rem, 1.9rem);
      margin: 5px;
    }
  }
  .uk-modal-footer {
    margin: 10px;
    padding: 0;
    button {
      height: 50px;
      width: 150px;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .line {
    margin: 10px 0;
    p {
      margin: 0;
      @include font(1.2rem, 1.4rem);
    }
  }
  .btn_pronoucing {
    font-family: 'FontAwesome';
    color: $color-secondary;
    width: fit-content;
    background-color: transparent;
    border: none;
    outline: none;
    animation: none;
    &:hover {
      cursor: pointer;
      &::before {
        color: $color-secondary !important;
      }
    }
  }
}

.btn_pronoucing::before{
  content: "\f028";
  font-family: 'FontAwesome';
  color: $color-secondary;
  background-color: transparent;
}
