.body {
    height: 100vh;
    overflow: hidden;
}
.game-container {
    height: 100%;
    background-image: url(../img/savannah-bg.svg);
    background-position: bottom;
    text-align: center;
    &__start {
        width: 400px;
        margin: auto;
        position: relative;
        top: 30%;
        color: $color-light-green;
        transition: 1s;
    }
    &__text {
        color: $color-darken;
        z-index: 2;
    }
    &__btn {
        width: 200px;
        height: 70px;
        color: $color-darken;
        background-color: $color-light-green;
        border: none;
        border-radius: 5px;
        animation: ani9 0.4s ease-in-out infinite alternate;
        font-size: 25px;
        cursor: pointer;
        &:focus {
            outline: none;
        }
    }
}

.timer {
    @extend .game-container__start;
    transition: 1s;
    transform: scale3d(0, 0, 1);
    width: 200px;
    height: 200px;
    &__text {
        margin: 0;
        font-size: 65px;
        position: absolute;
        top: calc(50% - 1rem);
        left: calc(50% - 1rem);
        z-index: 1000;
    }
}

.process {
    transform: scale3d(0,0, 1);
    transition: 1s;
    &__header {
        padding: 30px 30px;
        display: flex;
        justify-content: space-between;
    }
    &__hearts {
        display: flex;
    }
    &__heart {
        width: 40px;
        padding: 0 5px;
    }
}







// <------- abstract -------->
.animated-hide {
    transform: rotateZ(720deg) scale3d(0, 0, 1);
}

// <---------Spinner ------------>

.loader {
    width: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: 1s;
    z-index: 1;
}
.opacity-one {
    opacity: 1;
}
.show-after-click {
    transform: scale3d(1, 1, 1);
}
.hide {
    transform: scale3d(0, 0, 1);
}
.shake {
    animation: ani9 0.4s ease-in-out infinite alternate;
}